/* Variables */
:root {
  --cg-orange: rgb(233, 114, 76);
  --cg-white: rgb(251, 251, 251);
  --cg-yellow1: rgb(255, 226, 166);
  --cg-yellow2: rgb(255, 226, 166);
}

html {
  height: 100%;
}

.centered-container {
  max-width: 800px; /* Adjust this width as needed */
  margin: 0 auto; /* Center horizontally */
  padding: 0 20px; /* Optional: add padding for spacing */
}

body {
  background-color: var(--cg-yellow1) !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: monospace;
}

/* Adjust navbar, main, and footer sections */
.navbar,
.user-container,
.footer {
  width: 100%;
  max-width: 2000px; /* Matches the centered container */
}

/* Navigation */
.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  height: 7%;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: var(--cg-orange);
  color: var(--cg-yellow2);
  padding: 10px 30px;
}

.nav-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 20px;
}

.navbar a {
  /* home button */
  color: var(--cg-white);
  font-weight: normal;
  font-size: 20px;
  text-decoration: none;
  letter-spacing: 1px;
  margin-right: 60px;
  height: auto;
}

.navbar a:hover {
  color: var(--cg-yellow1);
  text-decoration: none;
}
.logo-container {
  display: flex;
  align-items: center;
  padding: 5px 15px;
  border: 2px solid var(--cg-orange);
  border-radius: 0px;
  background-color: #ffc857;
}

.logo-image {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.logo-text {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #e9724c !important;
  letter-spacing: 0px;
}
.logo-link {
  display: flex;
  align-items: center;
  text-decoration: none !important;
  margin-right: auto;
}

/* Main Section */
.user-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  background-color: #e9724c;
  padding: 1px;
  border-radius: 40px;
  max-width: 1000px;
  margin: 35px;
  font-family: monospace;
}

.user-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 800px;
  position: relative;
}
.user-wrapper::before {
  content: "";
  position: absolute;
  top: -23%;
  bottom: -23%;
  left: 50%;
  width: 1px;
  background-color: #c53a28;
}

/* Left and Right Sections */

/* Left Section */
.user-left {
  width: 48%;
  padding: 1px;
  margin-left: -50px; /* Move the login section to the left */
}
/* Right Section */
.user-right {
  width: 48%;
  padding: 1px;
  margin-right: -50px;
}

.user-left p,
.user-right p {
  font-family: sans-serif;
  color: var(--cg-white);
  font-weight: normal;
  font-size: 17px;
  margin-top: -2px;
  margin-bottom: -5px;
  text-align: center;
}

.user-left h1 {
  font-size: 35px;
  margin-bottom: 5px;
  font-weight: normal;
  color: #ffc857;
  text-align: center;
}
.user-right h1 {
  font-weight: normal;
  font-size: 35px;
  margin-bottom: 5px;
  color: #c53a28;
  text-align: center;
}

/* Form Styling */
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  font-weight: bold;
  color: var(--cg-white);
  height: 5px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border-radius: 0px;
  font-size: 16px;
  background-color: #d9d9d9;
  margin-bottom: -20px;
}

/* Adjust submit button size */
input[type="submit"] {
  background-color: #50a8c2;
  color: var(--cg-white);
  padding: 10px;
  width: 40%;
  align-self: center;
  border: none;
  border-radius: 100px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 30px;
}

input[type="submit"]:hover {
  background-color: rgb(117, 146, 174);
}

.three-dots {
  position: fixed;
  bottom: 40px;
  right: 10px;
  font-size: 50px;
  font-weight: bold;
  color: var(--cg-orange);
  letter-spacing: -10px;
}

/* Footer */
.footer {
  background-color: var(--cg-orange);
  color: white;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  text-align: bottom;
  bottom: 0;
  line-height: 0.01;
}

.footer {
  background-color: var(--cg-orange);
  color: white;
  padding: 15px;
  text-align: center;
}

.footer a {
  color: white;
  text-decoration: none;
  margin-bottom: 5px;
  font-size: 20px;
}

.footer a:hover {
  color: #ffc857;
  text-decoration: none;
}

/* Contact Header Section */
.contact-header {
  background-color: #255f85;
  color: var(--cg-white);
  padding: 20px;
  text-align: center;
  border-radius: 20px 20px 0 0;
  width: 100%;
  max-width: 800px;
  margin: 0 auto 20px auto;
}

.contact-header p {
  font-size: 20px;
  font-family: Arial;
  font-weight: bold;
  margin: 0;
}

/* Contact Form Styling */
.contact-container {
  background-color: #50a8c2;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  align-items: flex-start;
  height: auto;
  padding: 20px;
  border-radius: 40px;
  width: 100%;
  max-width: 800px;
  margin: 35px auto;
  font-family: monospace;
  padding-left: 20px;
  box-sizing: border-box;
}

input[type="email"],
textarea {
  width: 200% !important;
  padding: 15px;
  font-size: 18px;
  background-color: #eaeaea;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 0px;
  margin-bottom: 12px;
  font-family: monospace;
}
textarea {
  background-color: #eaeaea !important;
  border-radius: 0px !important;
  height: 200px;
  resize: horizontal;
  padding-right: 60px;
}

.message-container {
  position: relative;
  width: 300%;
}

/* Send Button Styling */
button.send-button {
  background-color: #255f85;
  color: #fff;
  padding: 8px 15px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  bottom: 10px;
  right: 10px;
  margin-top: 10px;
  position: absolute;
}

button.send-button:hover {
  background-color: #4290a3;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 80px;
  padding: 40px;
  flex-wrap: wrap;
}

.timer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
  background-color: #e9724c;
  border-radius: 20px;
  width: 500px;
  font-family: monospace;
  position: relative;
}

.timer-guide-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 400px;
}

.timer-header {
  font-size: 24px;
  margin-bottom: 15px;
  color: #ffff;
}

.timer-display {
  font-size: 150px;
  margin-bottom: 10px;
  color: #255f85
}

.timer-controls {
  display: flex;
  justify-content: center;
  gap: 30px;
  height: 40px;
}

.timer-controls button {
  background-color: #50a8c2;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.timer-controls button:hover {
  background-color: #255f85;
}

.guide-container {
  background-color: #ffc857;
  color: #db7347;
  padding: 10px 90px;
  border-radius: 15px;
  text-align: left;
  font-size: 1em;
  width: 320px;
}

.guide-header {
  font-size: 1.6em;
  text-align: center;
}

.todolist-container {
  display: flex;
  flex-direction: column;
  background-color: #50a8c2;
  width: 500px;
  height: 630px;
  align-items: center;
  border-radius: 20px;
  text-align: center;
}

.todolist-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  background-color: #255f85;
  width: 500px;
  height: 80px;
  color:#ffc857;
}

.add-task-container input {
  height: 10px;
  width: 120px;
  background-color: #fff;
  border: none;
}

.add-task-container button {
  height: 30px;
  width: 40px;
  background-color: #255f85;
  color: #ffc857;
  border: none;
  border-radius: 5px;
}

.add-task-container button:hover {
  background-color: #db7347;
  color: #ffff;
  border: none;
}

.todo-item {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.todo-item {
  display: flex;
  align-items: left;
  font-size: 20px;
  color: #ffff;
  padding: 2px;
}

.todo-item input[type="checkbox"] {
  transform: scale(1.5); 
}

.remove-button {
  background-color: #255f85;
  color: #ffc857;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.remove-button:hover {
  background-color: #db7347;
  color: #ffff;
}

.profile-icon {
  width: 50px;
  height: 50px;
}