:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --cg-orange: rgb(233, 114, 76);
  --cg-white: rgb(251, 251, 251);
  --cg-yellow1: rgb(255, 226, 166);
  --cg-yellow2: rgb(255, 226, 166);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

html {
  height: 100%;
  overflow-x: hidden;
}

.centered-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  background-color: var(--cg-yellow1) !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: monospace;
}

.user-container,
.footer {
  width: 100%;
  max-width: 2000px;
}

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: var(--cg-orange);
  color: var(--cg-yellow2);
  padding: 10px 30px;
}

.nav-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 10px;
}

.navbar a {
  color: var(--cg-white);
  font-weight: normal;
  font-size: 20px;
  text-decoration: none;
  letter-spacing: 1px;
  margin-right: 60px;
  height: auto;
}

.navbar a:hover {
  color: var(--cg-yellow1);
  text-decoration: none;
}

.logo-container {
  display: flex;
  align-items: center;
  padding: 5px 15px;
  border: 2px solid var(--cg-orange);
  border-radius: 0px;
  background-color: #ffc857;
  margin-left: 30px;
}

.logo-image {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.logo-text {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #e9724c !important;
  letter-spacing: 0px;
}
.logo-link {
  display: flex;
  align-items: center;
  text-decoration: none !important;
  margin-right: auto;
}
